In [1]:
create table jabatan (
    kode_jabatan int auto_increment primary key,
    deskripsi varchar(100) 
)

In [2]:
create table karyawan(
    id_karyawan int auto_increment primary key,
    nama_lengkap varchar(50),
    alamat VARCHAR(100),
    no_telp VARCHAR(15),
    kode_jabatan int
)

In [3]:
create table produk(
    kode_produk int auto_increment PRIMARY KEY,
    keterangan varchar(50),
    merk VARCHAR(50),
    kode_type enum("box","pcs"),
    harga_beli int,
    harga_jual int,
    stok int
)

In [4]:
create table penjualan(
    kode_penjualan int auto_increment PRIMARY key,
    tanggal date,
    kode_member int,
    kode_karyawan int 
)

In [5]:
create table detail_penjualan(
    id_detail_penjualan int auto_increment PRIMARY KEY,
    kode_produk int,
    jumlah int,
    kode_penjualan int
)

In [6]:
create table member(
    kode_member int auto_increment PRIMARY KEY,
    nama_lengkap VARCHAR(50),
    alamat VARCHAR(50),
    no_telp VARCHAR(13)
)